* {
    font-family: "Lexend";
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    justify-content: center;
}

nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: white;
    position: sticky;
    top:0px;
    z-index: 10000000;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    gap: 25px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
}

.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
    flex-direction: column;
    gap : 20px;
}

@media (max-width:748px)
{
   
    .main {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        text-align: center;
        flex-direction: column;
        gap : 20px;
    }
    body {
        overflow-x: hidden;
        justify-content: center;
    }
}

.lm {
    font-size: 14px;
    padding: 10px;
    background-color: rgb(16, 16, 16);
    color: white;
    border: rgb(16, 16, 16);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.lm a {
    text-decoration: none;
    color: white;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    gap:10px;
    padding-left: 20px;
    min-width: 150px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.skill-head {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(15, 15, 15);
}

.formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

form input,textarea {
    width: 60vw;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;

}
.submit {
    width: 20vw;
    background-color: white;
    border: 3px solid rgb(31, 31, 31);
    transition: 0.3s;
}

@media (max-width:748px)
{
    .submit{
        width: 40vw;
    }
    .skill-card {
        min-width: 100px;
    }
}

.submit:hover {
    background-color: rgb(31, 31, 31);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

ul li:hover {
    color: rgb(0, 149, 255);    
    transition: 0.3s;
    transform: scale(1.1);
}

ul li a:hover{
    color: rgb(0, 149, 255);
    transition: 0.3s;
}

#htmlcard:hover i{
    color: orangered;
    transition: 0.3s;
}

#csscard:hover i {
    color: rgb(0, 149, 255);
    transition: 0.3s;
}

#jscard:hover i{
    color: rgb(255, 213, 0);
    transition: 0.3s;
}

#ccard:hover i{
    color: rgb(28, 0, 188);
    transition: 0.3s;
}